html, body {
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

    height: 100%;
    width: 100%;
    margin: 0;
}

.container-grid {
    display: grid;
    grid-template-areas:
        "header"
        "main"
        "footer";
    grid-template-rows: 10% auto 10%;
}

.header-container {
    display: grid;
    grid-area: header;
    background-color: antiquewhite;
    grid-template-areas:
        "title-container nav-container";
    grid-template-columns: 20% auto;
    /* border: 2px solid black; */
}

.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid black; */
}

.nav-container {
    grid-area: nav-container;
    align-content: center;
    /* border: 2px solid black; */
}

.navlink-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-around;
    list-style-type: none;
    /* border: 2px solid black; */
}


.principal-main-container {
    grid-area: main;
    display: grid;
    grid-template-areas:
        "principal"
        "tables";
    grid-template-rows: 400px auto;
    /* border: 2px solid black; */
}

.principal-section {
    grid-area: principal;
    align-content: center;
    justify-items: center;

    background-image: url("../assets/images/principal_background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    /* border: 2px solid black; */
}


.tables-container {
    grid-area: tables;
    display: grid;
    grid-template-areas:
        "title-tables title-tables"
        "ranking onlineusers";

    justify-content: space-around;
    justify-items: center;

    background-color: rgb(185, 150, 105);
    /* border: 2px solid black; */
}

.tables-title {
    grid-area: title-tables;
}

.ranking-table {

    grid-area: ranking;
}

.onlineusers-table {
    grid-area: onlineusers;
}



.footer-container {
    grid-area: footer;
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: chocolate;
    /* border: 2px solid black; */
}

nav a:link, nav a:visited {
    font-size: 20px;
    font-weight: 600;
    color: saddlebrown;
    text-decoration: none;
}

a:link:active, a:visited:active {
  color: (internal value);
}

table, th{
    border: 3px solid rgb(93, 68, 5);
    background-color: bisque;
}

td {
    border: 3px solid gray;
    background-color: antiquewhite;
}

/* Usuarios Page */

.users-main-container {
    grid-area: main;
    background-color: rgb(185, 150, 105);
    justify-items: center;
}

.userlist-section {
    justify-items: center;
}

/* Clans Page */

.clans-main-container {
    grid-area: main;
    display: grid;
    grid-template-areas:
        "title-clans"
        "clanlist";
    background-color: rgb(185, 150, 105);
    justify-items: center;
}

.clans-title {
    grid: title-clans;
}

.clanslist-section {
    grid: clanlist;
    display: grid;
    grid-template-columns: auto auto auto;
}

.clan-box {
    display: grid;
    height: 200px;
    width: 200px;
    border: 4px solid black;
    border-radius: 10px;
    margin: 10px;
    background-color: peachpuff;
    text-align: center;
}

/* Especific Clan page */

.clan-main-container {
    grid-area: main;
    display: grid;
    grid-template-areas:
        "title-clan"
        "claninfo";
    grid-template-rows: 20% 80%;
    background-color: rgb(185, 150, 105);
    justify-items: center;
}

.clan-title {
    grid: title-clan;
}

.claninfo-section {
    width: 30%;
    grid: claninfo;
    display: grid;
    grid-template-areas:
        "membertable clantable";
    grid-template-columns: 40% 40%;
    grid-template-rows: auto auto;
    justify-content: space-around;
}

.member-table {
    grid: membertable;
}

.clan-table {
    grid: clantable;
}